.base {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  padding: var(--border-size-2);
}

.variantError {
  background-color: var(--surface-danger);
  color: var(--text-danger);
}
