.base {
  align-items: center;
  background-color: var(--_background, var(--surface-2));
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--_border, currentColor);
  color: var(--_text, var(--text-2));
  display: inline-flex;
  font-size: var(--font-size-16);
  font-weight: var(--_font-weight, var(--font-weight-medium));
  gap: 0.5rem;
  justify-content: center;
  letter-spacing: 0.02em;
  min-block-size: var(--_block-size, 2rem);
  min-inline-size: 10ch;
  padding-inline: var(--_padding-inline, 1rem);
  user-select: none;
  white-space: nowrap;

  &:focus-visible {
    outline-style: solid;
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
    outline-width: 3;
  }

  &:hover {
    background-color: var(--_hover-background, var(--surface-3));
    border-color: var(--_hover-border);
    color: var(--_hover-text);
  }

  &:active {
    background-color: var(--_active-background, var(--surface-4));
    border-color: var(--_active-border, currentColor);
    color: var(--_active-text, var(--text-2));
  }

  &:disabled {
    background-color: var(--_disabled-background, var(--surface-3));
    border-color: var(--_disabled-border, currentColor);
    color: var(--_disabled-text, var(--text-3));
  }

  @media screen and (prefers-contrast: more) {
    & {
      border: var(--border-size-2) solid currentColor;
    }
  }
}

.variantPrimary {
  composes: base;
  --_background: var(--surface-brand);
  --_border: var(--_background);
  --_text: var(--text-brand-1);
  --_active-background: var(--surface-brand);
  --_active-border: hsl(var(--surface-brand-hsl) / 20%);
  --_active-text: var(--text-brand-1);
  --_disabled-background: hsl(var(--surface-brand-hsl) / 30%);
  --_disabled-border: hsl(var(--surface-brand-hsl) / 20%);
  --_disabled-text: var(--text-2);
  --_hover-background: hsl(
    var(--surface-brand-hs) calc(var(--surface-brand-l) + 5%)
  );
  --_hover-border: var(--_hover-background);
  --_hover-text: var(--text-brand-1);
  --_separator: var(--text-brand-1);
}

.variantDanger {
  composes: base;
  --_background: var(--surface-danger);
  --_border: hsl(var(--surface-danger) / 20%);
  --_text: var(--text-on-danger);
  --_active-background: var(--surface-danger);
  --_active-border: hsl(var(--surface-danger-hs) var(--surface-danger-l) / 20%);
  --_active-text: var(--text-on-danger);
  --_disabled-background: hsl(
    var(--surface-danger-hs) var(--surface-danger-l) / 30%
  );
  --_disabled-border: hsl(
    var(--surface-danger-hs) var(--surface-danger-l) / 20%
  );
  --_disabled-text: var(--text-on-danger);
  --_hover-background: hsl(
    var(--surface-danger-hs) calc(var(--surface-danger-l) + 5%)
  );
  --_hover-border: hsl(
    var(--surface-danger-hs) calc(var(--surface-danger-l) + 5%) / 20%
  );
  --_hover-text: var(--text-on-danger);
}

.variantStealth {
  composes: base;
  --_background: transparent;
  --_border: transparent;
  --_text: var(--text-1);
  --_active-background: hsl(var(--surface-1-hs) calc(var(--surface-1-l) + 2%));
  --_active-border: currentColor;
  --_active-text: var(--text-1);
  --_disabled-background: hsl(var(--surface-1-hsl) / 20%);
  --_disabled-border: transparent;
  --_disabled-text: var(--text-3);
  --_hover-background: var(--surface-1);
  --_hover-border: currentColor;
  --_hover-text: var(--text-1);
  --_padding-inline: 0.5rem;
}

.sizeLarge {
  composes: base;
  --_padding-inline: 1rem;
  --_block-size: 2.5rem;
}

.sizeSmall {
  composes: base;
  --_padding-inline: 0.5rem;
  --_block-size: 1.5rem;
}

.sizeExtraSmall {
  composes: base;
  --_padding-inline: 0.5rem;
  --_block-size: 1rem;
  --_font-weight: var(--font-weight-1);
  font-size: var(--font-size-14);
}

.flat {
  composes: base;
  border-radius: 0;
  min-inline-size: unset;
}

.iconOnly {
  composes: base;
  min-inline-size: unset;
  flex-direction: column;
}
