.base {
  --checkbox-color: var(--surface-brand);

  appearance: none;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.15em;
  border: var(--border-size-1) solid currentColor;
  color: currentColor;
  font: inherit;
  height: 1.15em;
  margin: 0;
  transform: translateY(0.075em);
  width: 1.15em;
}
.base::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--checkbox-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.base:checked::before {
  transform: scale(1);
}
.base:focus {
  outline: max(2px, 0.15em) solid -webkit-focus-ring-color;
  outline: max(2px, 0.15em) solid Highlight;
  outline-offset: max(2px, 0.15em);
}
.base:disabled {
  --checkbox-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
