.inline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.inline > div {
  display: flex;
  gap: 0.5ch;
}
.inline > div:first-child dt::first-letter {
  text-transform: uppercase;
}
.inline dt::after {
  content: ":";
}
.inline > div:not(:last-child) dd::after {
  content: ",";
}

.hyphen {
  display: grid;
  column-gap: 0.5ch;
  grid-template-columns: auto 1fr;
}
.hyphen > div {
  display: contents;
}
.hyphen dt {
  text-align: right;
}
.hyphen dt::after {
  grid-column: 1;
  content: "\00a0-";
}
.hyphen dd {
  grid-column: 2;
}
