.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.grid > div:global(.inputWrapper) {
  display: contents;
}

.grid label {
  text-align: right;
}

.grid input:where([type="email"], [type="text"], [type="password"]) {
  width: 100%;
  font-size: inherit;
}

.gridSpan {
  grid-column: 1 / -1;
}

.checkboxLabel {
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-column: 1 / -1;
  justify-content: flex-end;
}
