.base {
  background-color: var(--surface-info);
  border-radius: var(--radius-2);
  color: var(--text-on-info);
  padding-block: 0.5rem;
  padding-inline-end: 0.75rem;
  padding-inline-start: calc(0.5rem + 3ch);
  position: relative;
}
.base::before {
  content: "☝️ ";
  margin-inline-start: -2.5ch;
  position: absolute;
}

.variantDanger {
  --link-text: var(--text-2);
  background-color: var(--surface-danger-1);
  color: var(--text-1);
}
.variantDanger::before {
  content: "🚨 ";
}
