.centered {
  display: grid;
  row-gap: 1rem;
  max-inline-size: var(--measure);
  margin-inline: auto;
  min-block-size: 100vh;
  padding-block-end: 2rem;
  padding-block-start: max(1rem, (100vh - 20rem) / 3);
  padding-inline: 8px;
  place-content: start center;
}

.narrow {
  max-inline-size: var(--measure);
  margin-inline: auto;
  padding-inline: 8px;
  padding-block-end: 2rem;
}
