.base {
  --radio-color: var(--surface-primary);

  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  border: var(--border-size-1) solid currentColor;
  color: currentColor;
  display: inline-grid;
  flex: 0 0 auto;
  font: inherit;
  height: 1.15em;
  margin: 0;
  place-content: center;
  width: 1.15em;
}
.base::before {
  background-color: CanvasText;
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--radio-color);
}
.base:checked::before {
  transform: scale(1);
}
.base:focus-visible {
  outline: max(2px, 0.15em) solid -webkit-focus-ring-color;
  outline: max(2px, 0.15em) solid Highlight;
  outline-offset: max(2px, 0.15em);
}
