.root > :global(.dialogWindow) {
  inline-size: 60ch;
  block-size: 30rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.deletePersonDialog > :global(.dialogWindow) {
  inline-size: 40ch;
}
.deletePersonDialog header + p {
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}
