.root {
  max-inline-size: var(--measure);
  margin-inline: auto;
}

.descriptionList {
  margin: 0;
}

.descriptionList > div {
  font-size: 150%;
  display: flex;
  position: relative;
}

.descriptionList > div + div {
  border-block-start: var(--border-size-2) solid var(--surface-1);
}

.descriptionList > div > dt::after {
  content: " -";
}

.descriptionList > div > dd {
  font-style: italic;
  font-family: var(--font-cursive);
  margin-inline-start: 0.5rem;
}
