.table {
  --cell-inline-padding: var(--padding-inline, 8px);
}

.table :where(tbody, thead) {
  display: contents;
}

.table tr {
  display: grid;
  grid-template-areas: "beer dateTime volume action";
  grid-template-columns: 1fr 7ch 13ch 13ch;
}
.table :where(th, td) {
  padding-inline: var(--cell-inline-padding);
}
.table :where(th, td):nth-child(1) {
  grid-area: beer;
  text-align: left;
}
.table :where(th, td):nth-child(2) {
  grid-area: dateTime;
  text-align: right;
  place-content: end;
}
.table :where(th, td):nth-child(3) {
  grid-area: volume;
  text-align: right;
}

.table td:nth-child(3) {
  font-style: italic;
  font-weight: var(--font-weight-semibold);
}
.table :where(th, td):nth-child(4) {
  grid-area: action;
  text-align: right;
  place-content: center;
}

@supports (grid-template-columns: subgrid) {
  .table {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
  }
  .table tr {
    grid-column: 1 / -1;
    grid-template-columns: subgrid !important;
  }
}

@media screen and (max-width: 30rem) {
  .table {
    grid-template-columns: 1fr auto auto;
  }
  .table tr {
    grid-template-areas:
      "beer     volume action"
      "dateTime volume action";
    grid-template-columns: 1fr 7ch auto;
  }
  .table :where(th, td):nth-child(1) {
    text-align: right;
  }
  .table :where(th, td):nth-child(2) {
    padding-inline-start: var(--dialog-padding-inline);
  }
  .table td:nth-child(3) {
    font-family: var(--font-cursive);
    font-size: 200%;
  }
  .deleteButton {
    inline-size: min-content;
    padding-block: 0.125rem;
    white-space: wrap;
  }
}
