*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--surface-1);
  background-image: url(../assets/roughPaper.svg);
  color: var(--text-1);
  font-family: var(--font-sans);
  line-height: var(--ratio);
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  min-inline-size: 100%;
}

a:link,
button,
details summary,
label {
  cursor: pointer;
}

p,
li,
h1,
h2,
h3,
h4 {
  /* Help prevent overflow of long words/names/URL */
  overflow-wrap: break-word;
}

button:disabled,
label:has(*:disabled) {
  cursor: not-allowed;
}

select {
  font-size: inherit;
}

input,
textarea {
  font-size: min(16px, 1em);
}

:where(input, select) {
  border: var(--border-size-1) solid var(--surface-1);
}

body:has(dialog[open]) {
  overflow: hidden;
}
