:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(button) {
  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  margin: 0;
  overflow: visible;
  overflow-wrap: break-word;
  padding: 0;
  inline-size: auto;
  white-space: break-spaces;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus-visible {
    outline: none;
  }
}

dialog:modal {
  color: var(--text-2);
}

:where(dl, dl dd, p, [popover]) {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset:where(.reset) {
  border: 0;
  padding: 0;
  margin: 0;
  min-inline-size: 0;
}

legend:where(.reset) > legend,
legend:where(.reset) {
  display: table;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6):where(.reset) {
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
