.inputToggle {
  --toggle-width: 40px;
  --toggle-height: calc(var(--toggle-width) / 2);

  appearance: none;
  background: var(--surface-4);
  border-radius: var(--radius-round);
  box-sizing: content-box;
  color: inherit;
  font-size: inherit;
  height: var(--toggle-height);
  margin: auto;
  position: relative;
  transition: background var(--transition-fast);
  vertical-align: text-bottom;
  width: var(--toggle-width);
}

.inputToggle::before {
  background: var(--surface-2);
  border-radius: 50%;
  box-shadow: var(--shadow-4);
  box-sizing: border-box;
  content: "";
  height: var(--toggle-height);
  left: 0;
  position: absolute;
  top: 0;
  transition: transform var(--transition-fast);
  width: var(--toggle-height);
}

.inputToggle:checked {
  background: #009578;
}
.inputToggle:checked::before {
  transform: translateX(calc(var(--toggle-width) - var(--toggle-height) / 2));
}
