.table {
  --breakout-hover-overlay: hsl(
    var(--surface-warning-hs) var(--surface-warning-l) / 0.1
  );
  --cell-inline-padding: var(--padding-inline, 8px);

  display: block;
}
.table > * {
  display: contents;
}
.table thead tr {
  border-block-end: calc(var(--border-size-2) * 2) double var(--border-ink);
}
.table tbody tr:nth-child(n+2) {
  border-block-start: var(--border-size-2) solid var(--border-ink);
}
.table tr {
  display: grid;
  grid-template-areas: "serial beer created price volume remains";
  grid-template-columns: 5ch 22ch 12ch 12ch 7ch 1fr;
}
.table :where(th, td) {
  padding-inline: var(--cell-inline-padding);
  text-align: right;
}
.table :where(th, td):nth-child(1) {
  grid-area: serial;
}
.table :where(th, td):nth-child(2) {
  grid-area: beer;
}
.table :where(th, td):nth-child(3) {
  grid-area: created;
}
.table :where(th, td):nth-child(4) {
  grid-area: price;
}
.table :where(th, td):nth-child(5) {
  grid-area: volume;
}
.table :where(th, td):nth-child(6) {
  grid-area: remains;
}

@supports (grid-template-columns: subgrid) {
  .table {
    display: grid;
    grid-template-columns: auto 1fr repeat(4, auto);
  }
  .table tr {
    grid-column: 1 / -1;
    grid-template-columns: subgrid !important;
  }
}

@media screen and (min-width: 25rem) and (max-width: 45rem) {
  /* Applies only when subgrid is supported */
  .table {
    grid-template-columns: repeat(4, auto);
  }
  .table tr {
    grid-template-areas:
      "serial beer    beer  volume"
      "serial created price remains";
    grid-template-columns: 5ch 12ch 1fr 7ch;
  }
  .table :is(th, td):is(:nth-child(2), :nth-child(3)) {
    text-align: left;
  }
}

@media screen and (max-width: 25rem) {
  /* Applies only when subgrid is supported */
  .table {
    grid-template-columns: repeat(3, auto);
  }
  .table tr {
    grid-template-areas:
      "serial beer    beer"
      "serial created volume"
      "serial price   remains";
    grid-template-columns: 5ch 1fr 6ch;
  }
  .table :is(th, td) {
    text-align: left;
  }
  .table :is(th, td):is(:nth-child(5), :nth-child(6)) {
    text-align: right;
  }
}

.table meter {
  width: 100%;
}

.emptyTableMessage {
  font-family: var(--font-cursive);
  text-align: end;
  padding-inline-end: 64px;
  padding-block: 1rem;
}
