.table {
  --_cell-inline-padding: 0.5rem;
  --breakout-hover-overlay: hsl(
    var(--surface-warning-hs) var(--surface-warning-l) / 0.1
  );

  border-collapse: collapse;
  width: 100%;
}
.table tr {
  position: relative;
}
.table :where(th, td) {
  padding-inline: var(--_cell-inline-padding);
  text-align: right;
}
.table :where(th, td):where(:nth-child(1), :nth-child(2)) {
  text-align: left;
}

.emptyTableMessage {
  font-family: var(--font-cursive);
  text-align: end;
  padding-inline-end: 4rem;
  padding-block: 1rem;
}
