.table {
  --_cell-inline-padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(4, auto);
}
.table :where(tbody, thead) {
  display: contents;
}
.table tr {
  display: grid;
  grid-column: 1 / -1;
  grid-template-areas:
    "serial volume created price"
    "name consumed firstTap largeBeer"
    "name wasted depleted effectivity";
  grid-template-columns: subgrid;
}
.table :where(th, td) {
  padding-inline: var(--_cell-inline-padding);
  text-align: right;
}
.table :where(th, td):nth-child(1) {
  grid-area: serial;
  text-align: left;
}
.table :where(th, td):nth-child(2) {
  grid-area: name;
  text-align: left;
  grid-row: span 2;
}
.table :where(th, td):nth-child(3) {
  grid-area: volume;
}
.table :where(th, td):nth-child(4) {
  grid-area: consumed;
}
.table :where(th, td):nth-child(5) {
  grid-area: wasted;
}
.table :where(th, td):nth-child(6) {
  grid-area: created;
}
.table :where(th, td):nth-child(7) {
  grid-area: firstTap;
}
.table :where(th, td):nth-child(8) {
  grid-area: depleted;
}
.table :where(th, td):nth-child(9) {
  grid-area: price;
}
.table :where(th, td):nth-child(10) {
  grid-area: largeBeer;
}
.table :where(th, td):nth-child(11) {
  grid-area: effectivity;
}

.emptyTableMessage {
  font-family: var(--font-cursive);
  text-align: end;
  padding-inline-end: 4rem;
  padding-block: 1rem;
}
