.root {
  inline-size: 60ch;
  block-size: min(40rem, 80vh);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.dialogCloseKeg p:first-of-type {
  font-size: 90%;
}
.dialogCloseKeg p:last-of-type {
  margin-inline: var(--dialog-padding-inline);
  padding-inline: 2rem;
}
