.list > li > div {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  padding-block: var(--s-1);
  padding-inline: 0.5rem;
}

.list > li + li {
  border-block-start: var(--border-size-2) solid var(--surface-1);
}

.list > li > div > div:first-child {
  order: 1;
  margin-inline-end: auto;
}

.list meter {
  display: block;
  margin-inline: auto;
  margin-block-start: -0.5rem;
  width: calc(100% - 0.5rem);
}

.tappedBeer {
  font-size: 80%;
}

.tappedBeer > span {
  font-weight: 600;
}
