.root table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.root table :where(td, th) {
  text-align: left;
}
.root table input[type="number"] {
  inline-size: 8ch;
}
.root tbody th {
  font-weight: var(--font-weight-regular);
}

.root legend {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-18);
}
