.table {
  --breakout-hover-overlay: hsl(47deg 100% 62% / 0.1);
  --cell-inline-padding: var(--padding-inline, 8px);

  font-size: 1.5rem;
}
.table > * {
  display: contents;
}

.table th[scope="row"] {
  font-weight: var(--font-weight-regular);
}

.table thead tr {
  border-block-end: calc(var(--border-size-2) * 2) double var(--border-ink);
}
.table tbody tr:nth-child(n+2) {
  border-block-start: var(--border-size-2) solid var(--border-ink);
}

.table tr {
  display: grid;
  grid-template-areas: "name lastSeen role balance";
  grid-template-columns: 1fr 7ch 13ch 13ch;
}
.table :where(th, td) {
  padding-inline: var(--cell-inline-padding);
}
.table :where(th, td):nth-child(1) {
  grid-area: name;
}
.table :where(th, td):nth-child(2) {
  grid-area: lastSeen;
}
.table :where(th, td):nth-child(3) {
  grid-area: role;
  text-align: right;
}
.table :where(th, td):nth-child(4) {
  grid-area: balance;
  text-align: right;
}
.table td:nth-child(4) {
  font-style: italic;
}

@supports (grid-template-columns: subgrid) {
  .table {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  .table tr {
    grid-column: 1 / -1;
    grid-template-columns: subgrid !important;
  }
}

@media screen and (max-width: 33rem) {
  .table {
    grid-template-columns: auto 1fr auto;
  }
  .table tr {
    grid-template-areas:
      "name     name balance"
      "lastSeen .    role";
    grid-template-columns: auto 1fr auto;
  }
  .table :where(td):nth-child(2),
  .table :where(td):nth-child(3) {
    font-size: 1.2rem;
  }
}
