.table {
  --breakout-hover-overlay: hsl(47deg 100% 62% / 0.1);
}
.table tr {
  position: relative;
  /* FIX: Safari does not support positioning of <tr> 
     @see https://github.com/w3c/csswg-drafts/issues/1899
  */
  clip-path: inset(0);
}
.table :where(td, th) {
  text-align: left;
}
.table :where(td, th):last-child {
  text-align: right;
}
