.root {
  align-items: center;
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  column-gap: 0.5rem;
  display: grid;
  grid-template-areas: "back title more" "back subtitle more";
  grid-template-columns: auto 1fr auto;
  margin-block-start: 0.5rem;
  padding: var(--border-size-2);
}
.buttonLeft {
  border-inline-end: var(--border-size-2) solid var(--surface-1);
  grid-area: back;
}
.buttonRight {
  grid-area: more;
}
.root > h2 {
  grid-area: title;
}
.root > h2 + p {
  grid-area: subtitle;
}

.root > h2,
.root > p {
  margin: 0;
}

.buttonLeft,
.buttonRight {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-inline: 0.5rem;
}
:where(.buttonLeft, .buttonRight) > span:first-child {
  font-size: 150%;
}
:where(.buttonLeft, .buttonRight) > span:last-child {
  font-size: 75%;
  font-variant: all-small-caps;
}
:where(.buttonLeft, .buttonRight):hover {
  background-color: var(--surface-3);
}
