:global(.inputWrapper) {
  display: flex;
  gap: 1rem;
}

:global(.inputWrapper) label {
  padding-block-start: 0.17em;
}

:global(.inputWrapper) :where(input, select) {
  width: 100%;
  block-size: 1.75em;
  padding-inline: 0.25em;
}

:global(.inputWrapper)
  :where(input, select):where(:invalid, [aria-invalid="true"]) {
  border-color: var(--surface-danger);
}

:global(.inputWrapper) > div > div:first-child {
  display: flex;
  gap: 0.5rem;
}

.errorMessage {
  font-size: 75%;
  color: var(--text-danger);
}
