.root {
  border-radius: var(--radius-2);
  border-style: none;
  box-shadow: var(--shadow-4);
  padding: 0 !important;
}

.root > :global(.dialogWindow) {
  --dialog-padding-inline: 1rem;
  display: flex;
  flex-flow: column;
  max-block-size: calc(100vh - 2rem);
  max-inline-size: min(var(--measure), 100vw);
}

.root > :global(.dialogWindow) > * {
  padding-inline: var(--dialog-padding-inline);
}

.root > :global(.dialogWindow) > header {
  padding-block-start: 1rem;
}

.root > :global(.dialogWindow) > header > h3 {
  margin: 0;
}

.root > :global(.dialogWindow) > footer {
  background-color: var(--surface-3);
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  padding-block: 1rem;
}
