.root {
  --dialog-background-color: var(--surface-2);
  --dialog-gap: 1rem;
  --dialog-padding-inline: 1rem;

  background-color: var(--dialog-background-color);
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--surface-4);
  box-shadow: var(--shadow-4);
  display: flex;
  flex-flow: column;
  gap: var(--dialog-gap);
  max-block-size: calc(100svh - 3rem);
  max-inline-size: min(var(--measure), 100vw - 2rem);
  padding: 0;
}

.root > * {
  padding-inline: var(--dialog-padding-inline);
}

.root > header {
  padding-block: 1rem;
}

.root > header > h3 {
  margin: 0;
}

.root > footer {
  background-color: var(--surface-3);
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  padding-block: 1rem;
}

.scrollContent {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: var(--dialog-gap);
  overflow: auto;
}
