.root > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--surface-1);
}

.root > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
