.root > :global(.dialogWindow) > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid var(--surface-1);
}
.root > :global(.dialogWindow) > header > button:first-of-type {
  order: -1;
}
