.root > header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.root > div {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--border-size-2);
}
