.root {
  --padding-inline: 8px;
}

.root > header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 0.75rem;
}

.root > div {
  overflow: auto;
}

.emptyMessage {
  padding-block: 0.75rem;
  padding-inline: var(--padding-inline, 8px);
}
