.popover.popover.popover {
  background-color: var(--surface-2);
  border: var(--border-size-1) solid var(--surface-4);
  box-shadow: var(--shadow-3);
  inset: unset;
  padding-block: 0.5rem;
  position-try-options: flip-block, flip-inline, flip-block flip-inline;
  right: anchor(right);
  top: anchor(bottom);
}
.popover li > :where(a, button) {
  color: var(--text-1);
  padding: 0.5rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.popover li > :where(a, button):hover {
  background-color: var(--surface-highlighted);
}
.popover li > :where(a, button):disabled {
  background-color: var(--surface-3);
  color: var(--text-3);
}
