@keyframes flip-page {
  from {
    backface-visibility: hidden;
    transform: scaleY(0.97);
    transform-origin: -2rem center;
  }
  to {
    transform: rotateY(-100deg);
  }
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

::view-transition-old(hardcover) {
  backface-visibility: hidden;
  transform-origin: left 2rem;
  animation: 0.618s ease-in flip-page;
}

.root {
  background: radial-gradient(
      ellipse at 80% 60%,
      hsl(99deg 13% 26%) 10%,
      hsl(99deg 13% 46%) 68%
    ),
    url("../../assets/noise.svg");
  view-transition-name: hardcover;
}

.root header {
  border-image: url("../../assets/label.png") 55 fill;
  border-width: 55px;
  border-style: solid;
  inline-size: 45ch;
  max-inline-size: calc(100vw - 2rem);
  min-block-size: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.root h1 {
  background-image: url("../../assets/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 2rem;
}
.root h1 img {
  width: 100%;
}

.root p {
  font-size: var(--font-size-32);
  font-family: var(--font-cursive);
  text-align: left;
  text-align: center;
}

.root main {
  padding-block-start: clamp(1rem, 10vh, 7rem);
  text-align: center;
}
.root main > a {
  --_background: hsl(99deg 6% 90%);
  background-image: url("../../assets/noise.svg");
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 2px;
  outline: 4px solid var(--_background);
  transform: rotate(-5deg);
}
