.root > header {
  border-image: url("../../assets/label.png") 55 fill;
  border-width: 55px;
  border-style: solid;
  inline-size: 45ch;
  max-inline-size: calc(100vw - 2rem);
  min-block-size: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.root h1 {
  background-image: url("../../assets/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 2rem;
  margin: 0;
}
.root h1 img {
  width: 100%;
}

.root p {
  font-size: var(--font-size-32);
  font-family: var(--font-cursive);
  margin: 0;
  text-align: left;
}

.root main {
  padding-block-start: 7rem;
  text-align: center;
}
.root main > a {
  --_background: hsl(78deg 26% 90%);
  transform: rotate(-5deg);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 2px;
  outline: 4px solid var(--_background);
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #70804b;
  z-index: -1;
  filter: url(../../assets/noise.svg#wavy2);
}
