.root > div {
  border-image: url("../../assets/label.png") 50 fill;
  border-width: 3rem;
  border-style: solid;
  max-inline-size: 50ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.root h1 {
  background-image: url("../../assets/title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 2rem;
  margin: 0;
}

.root h1 img {
  width: 100%;
}

.root p {
  font-size: var(--font-size-32);
  font-family: var(--font-cursive);
  margin: 0;
  text-align: left;
}

.root > div > a {
  align-self: center;
}
