.root {
  row-gap: 1rem;
  max-inline-size: 30ch;
}

section[aria-labelledby="other_methods"] {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

section[aria-labelledby="other_methods"] h3 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  margin-block-start: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}
section[aria-labelledby="other_methods"] h3::before,
section[aria-labelledby="other_methods"] h3::after {
  background-color: var(--text-3);
  content: "";
  height: 1px;
  inset-block-start: 50%;
  position: absolute;
  width: 100%;
}
section[aria-labelledby="other_methods"] h3::before {
  transform: translateX(-100%);
}
section[aria-labelledby="other_methods"] h3 > span {
  padding-inline: 0.5rem;
}

.small {
  font-size: var(--font-size-14);
}
